button{
    width: 200px;
    height: 40px;
    border: none;
    border: 1px solid #ffbb00f1;
    border-radius: 20px;
    background-color:unset;
    cursor: pointer;
    outline: none;
    color: #ffbb00f1;
    font-weight: 900;
    &:hover{
        background-color: #ffbb00f1;
        color: #202020;
    }
}