.Produto{
    
    div{
        width: 300px;
        display: flex;
         justify-content: center;
        
        Button{
            margin-top: 10px;
            align-self: center;
        }
    }
}