.Home{
  header{
    background-image: url('../imagem/banner.jpg');
    width:100%;
    background-position: center;
    height: 300px;
    background-size: cover;
    @media (min-width:1024px) {
      height: 400px;
    }
  }
  .button{
      width: 100%;
      height: 200px;
      display:flex;
      align-items: center;
      justify-content: center;
      background-color: #202020;
      @media (min-width:1024px) {
        height: 202px;
      }

  }
  
}